@model AppChamados.Models.Chamado

<div class="container">

    <h3>Editar Chamado</h3>

    <br>

    <form action="Update" method="Post">

        <div class="col-md-5">

        <div class="row">
            <div class="form-group col-md-12">
                <label for="cliente.id">Cliente</label>
                <input class="form-control" type="text" name="cliente.id" value="@Model.cliente.nome" readonly>
                <input hidden type="text" name="id" id="id" value="@Model.id"/>
            </div>                
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label for="descricao">Descrição do Problema</label>
                <input class="form-control" rows="5" name="descricao" value="@Model.descricao">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label for="dataChamado">Data</label>
                <input class="form-control" type="text" name="dataChamado" value="@Model.dataChamado.ToString("dd/MM/yyyy")" readonly>
            </div>

            <div class="form-group col-md-6">
                <label for="horaInicio">Hora Início</label>
                <input class="form-control" type="time" name="horaInicio" value="@Model.horaInicio" readonly>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label for="dataSolucao">Data Solução</label>
                <input class="form-control" type="date" name="dataSolucao" value="@Model.dataSolucao">
            </div>

            <div class="form-group col-md-6">
                <label for="horaFim">Hora Fim</label>
                <input class="form-control" type="time" name="horaFim" value="@Model.horaFim">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label for="situacao.id">Situação</label>
                <select class="form-control" name="situacao.id">
                    @foreach(var situacao in @ViewBag.situacoes)
                    {
                        <!option value=@situacao.id selected="@(situacao.id == @Model.situacao.id)">@situacao.descricao</!option>
                    }
                </select>
            </div>
        </div>

        <input class="btn btn-primary" type="submit" value="Salvar Alterações"/>
        
        <a href="Index" class="btn btn-primary">Voltar</a>

        </div>

    </form>

</div>